{% extends 'monitor/base_monitor.html' %}

{% block container %}
    <div class="container">
        <h5 class="mt-4" >Cadastrar agendamento:</h5>
        <form action="" method="post" >
        {% csrf_token %}
        <div class="form-group">
          <label for="id_titulo">Título do agendamento:</label>
          <input type="text" class="form-control" id="id_titulo" name="titulo" required autofocus>
        </div>
       <div class="row">
           <div class="col">
                <label for="id_data">Data:</label>
                <input type="date" class="form-control"  id="id_data" name="data" required>
            </div>
            <div class="col">
                <label for="id_hora_inicio">Horário inicio:</label>
                <input type="time" class="form-control"  id="id_hora_inicio" name="hora_inicio" required>
            </div>
            <div class="col">
                <label for="id_hora_fim">Horário fim:</label>
                <input type="time" class="form-control"  id="id_hora_fim" name="hora_fim" required>
            </div>
        </div>
        <div class="form-group">
            <label for="id_laboratorio">Laboratório:</label>
                <select class="form-control" id="id_laboratorio" name="laboratorio" required>
                     <option value="" disabled selected>Escolher laboratório</option>
                     {% for lab in labs %}
                        <option value="{{ lab.id }}">{{ lab.name }}</option>
                     {% endfor %}
                </select>
        </div>
        <div class="form-group">
          <label for="id_opicional">Opicional:</label>
          <textarea class="form-control" id="id_opicional" rows="3" name="opicional"></textarea>
        </div>
        <div class="container">
            <button type="submit" class="btn btn-success  float-right">Agendar</button>
            <a href="{% url 'professor:listar_professor' %}" class="btn btn-primary  float-left">Voltar</a>
        </div>
      </form>
    </div>
{% endblock %}