{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Listagem de Agendamentos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

    <div class="container">
    <h1>Listagem de Agendamentos</h1>
    <table class="table table-striped4">
        <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Data</th>
                <th scope="col">Hora de Início</th>
                <th scope="col">Hora de Término</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for agendamento in agendamentos %}
            <tr>
                <td>{{ agendamento.titulo }}</td>
                <td>{{ agendamento.data }}</td>
                <td>{{ agendamento.hora_inicio }}</td>
                <td>{{ agendamento.hora_fim }}</td>
                <td>
                    <form action="{% url 'calendar:excluir_agendamento' agendamento.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm ">Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>
