{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
         <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


        <link href="{% static 'css/core/main.min.css' %}" rel='stylesheet' />
        <link href="{% static 'css/daygrid/main.min.css' %}" rel='stylesheet' />
        <link href="{% static 'css/personalizado.css' %}" rel='stylesheet' />
        <script src="{% static 'js/core/main.min.js' %}"></script>
        <script src="{% static 'js/interaction/main.min.js' %}"></script>
        <script src="{% static 'js/daygrid/main.min.js' %}"></script>
        <script src="{% static 'js/core/locales/pt-br.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="{% static 'js/personalizado.js' %}"></script>
         <link href="{% static 'css/calendario.css' %}" rel="stylesheet">


    </head>
    <body>
        <nav class="navbar " id="navebar">
          <a class="navbar-brand" href="#" id="logo">
            <img src="{% static 'img/logo.png' %}" width="50" height="70" class="d-inline-block align-top" alt="" >
          </a>
          <h2 id="titulo">Sistema de agendamento </h2>

          <a class="btn btn-danger " href="{% url 'accounts:user_logout' %}">Sair</a>
        </nav>
{% comment %} menu lateral {% endcomment %}
        {% include 'partials/messages.html' %}
        {% include 'partials/delete_modal.html' %}
        {% include 'partials/negar_modal.html' %}
        {% include 'partials/conf_solicitação_modal.html' %}
        {% include 'partials/cancelar_modal.html' %}
        <nav>
             <div class="row">
                 <div class="col-sm-2" >
                    <div class="side-bar">
                        <a href="{% url 'secretaria:lista' %}" class="btn btn-primary my-2 w-75" > Agendamentos</a>
                        <a href="{% url 'secretaria:listar_solicitacao' %}" class="btn btn-primary my-2  w-75">Solicitações</a>
                        <a href="{% url 'accounts:user_list' %}" class="btn btn-primary my-2  w-75">Usuários</a>
                        <a href="{% url 'laboratorio:laboratorio_list' %}" class="btn btn-primary my-2  w-75">Laboratórios</a>
                        <a href="{% url 'secretaria:list_tipo' %}" class="btn btn-primary my-2  w-75">Tipos</a>
                        <a href="{% url 'accounts:user_new_password' %}" class="btn btn-primary my-2  w-75">Alterar senha</a>
                    </div>
                 </div>
                 <div class="col-sm-10" >
                    <div class="side">

                        {% block container %}

                        {% endblock %}
                    </div>
                 </div>
             </div>
        </nav>
    </body>
  <!-- Inclua o jQuery (ou utilize uma versão local) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Inclua a biblioteca Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <!-- Script para inicializar o Select2 e habilitar a pesquisa -->
    <script>
        // Aguarde o documento ser carregado
        $(document).ready(function() {
            // Selecione o campo select e inicialize o Select2
            $('#id_user').select2();
        });
    </script>
</html>
