{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Login</title>

  </head>
  <body>

<div class="text-center">
    <form method="POST" action="">
    {% include 'partials/messages.html' %}
    {% csrf_token %}
        <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="100px" height="120px">
        <h1 class="h3 mb-3 font-weight-normal">Universidade Federal do Acre</h1>
        <label for="username" class="sr-only">Usuário</label>
        <small class="form-text  text-danger mt-0 text-left">Campo obrigatório.</small>
        <input type="text" id="username" name="username" class="form-control" placeholder="Digite sua matrícula" required autofocus>
        <label for="password" class="sr-only">Senha</label>
        <small class="form-text  text-danger mt-0 text-left mt-4">Campo obrigatório.</small>
        <input type="password" id="password" name="password" class="form-control" placeholder="Digite sua senha" required>
        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Entrar</button>
        <br>
        <a  href="{% url 'password_reset' %}" class="form-control"> Esqueceu sua senha?</a>
    </form>
</div >

  </body>
</html>
