{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Listagem de usuários</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Listagem de Usuários</h1>
        <table class="table table-striped">
            {% include 'partials/messages.html' %}
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Email</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for group in user.groups.all %}
                            {{ group.name }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                         <form id="deleteForm" action="{% url 'accounts:user_delete' user.id %}" method="post">
                            {% csrf_token %}
                             <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDeleteModal">
                                Excluir
                            </button>
                             <a href=" {% url 'accounts:user_update' user.pk %}" class="btn btn-primary btn-sm"> Editar</a>
                          </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        <a href=" {% url 'accounts:user_create'%}" class="btn btn-primary btn-sm">Adicionar novo usuário</a>
        </table>
    </div>
    <!-- Modal -->
    {% include 'partials/delete_modal.html' %}
</body>
</html>


