<!-- user_create.html -->
<!-- agendamento.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Atualizar usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{% static 'js/validarsenha.js' %}"></script>

</head>
<body>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <div class="container">
  <h5 class="mt-4">Atualizar usuário:</h5>
  <form action="" method="post">
    {% csrf_token %}
      {% include 'partials/messages.html' %}
      <div class="form-group">
        <label for="first_name">Nome:</label>
        <input type="text" class="form-control" name="first_name" value="{{ form.instance.first_name }}" maxlength="150" required id="id_username">
      </div>

      <div class="form-group">
        <label for="last_name">Nome:</label>
        <input type="text" class="form-control" name="last_name" value="{{ form.instance.last_name }}" maxlength="150" required id="id_username">
      </div>

      <div class="form-group">
        <label for="id_email">Endereço de email:</label>
        <input type="email" class="form-control" name="email" value="{{ form.instance.email }}" maxlength="254" id="id_email">
      </div>

      <button type="submit" class="btn btn-primary">Salvar</button>

  </form>
</div>

</body>
</html>

