{% extends 'secretaria/base_secretaria.html' %}
{% block container %}
    <div class="container">
        <h1 class="mt-4">Listagem de Usuários</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Email</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for group in user.groups.all %}
                            {{ group.name }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                         <form id="deleteForm" action="{% url 'accounts:user_delete' user.id %}" method="post">
                            {% csrf_token %}
                             <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDeleteModal">
                                Excluir
                            </button>
                             <a href=" {% url 'accounts:user_update' user.pk %}" class="btn btn-primary btn-sm"> Editar</a>
                          </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <div class="text-right">
                <a href=" {% url 'accounts:user_create'%}" class="btn btn-success btn-sm">Adicionar novo usuário</a>
            </div>
        </table>
        <div class="pagination d-flex justify-content-center align-items-center">
            <span class="step-links">
                {% if users.has_previous %}
                    <a href="?page=1" class="btn btn-secondary">&laquo; primeiro</a>
                    <a href="?page={{ users.previous_page_number }}" class="btn btn-secondary">anterior</a>
                {% endif %}
                <span class="current">
                    Página {{ users.number }} de {{ users.paginator.num_pages }}.
                </span>
                {% if users.has_next %}
                    <a href="?page={{ users.next_page_number }}" class="btn btn-secondary">próximo</a>
                    <a href="?page={{ users.paginator.num_pages }}" class="btn btn-secondary">último &raquo;</a>
                {% endif %}
            </span>
      </div>
        <div class="text-left">
            <a href="{% url 'secretaria:pag_secretaria' %}" class="btn btn-primary btn-sm">Voltar</a>
        </div>
    </div>
    <!-- Modal -->
    {% include 'partials/delete_modal.html' %}
{% endblock %}

