{% extends 'secretaria/base_secretaria.html' %}
{% load widget_tweaks %}
{% block container %}
    <div class="container-fluid">
        <h5 class="mt-4">Fazer agendamento:</h5>
        <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ form.non_field_errors }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        <div class="form-group">
            <label for="{{ form.titulo.id_for_label }}">Título do agendamento:</label>
            {{ form.titulo|add_class:"form-control"|attr:"autofocus" }}
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="{{ form.data.id_for_label }}">Data:</label>
                    {{form.data|add_class:"form-control"|attr:"type:date" }}
                    <span style="color: red">{{ form.data.errors }}</span>
                </div>
                <div class="col">
                    <label for="{{ form.hora_inicio.id_for_label }}">Horário inicio:</label>
                    {{form.hora_inicio|add_class:"form-control"|attr:"type:time" }}
                     <span style="color: red">{{ form.hora_inicio.errors }}</span>
                </div>
                <div class="col">
                    <label for="{{ form.hora_fim.id_for_label }}">Horário fim:</label>
                    {{form.hora_fim|add_class:"form-control"|attr:"type:time" }}
                    <span style="color: red">{{ form.hora_fim.errors }}</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.laboratorio.id_for_label }}">Laboratótio:</label>
            {{form.laboratorio|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="{{ form.tipo.id_for_label }}">Tipo:</label>
            {{form.tipo|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="id_user">Usuários:</label>
            <select class="form-control" id="id_user" name="user" >
                <option value="" disabled selected>Escolha um usuário</option>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.get_full_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="id_opicional">Opicional:</label>
             {{form.opicional|add_class:"form-control"|attr:"type:text" }}
        </div>
        <div class="container">
            <button type="submit" class="btn btn-success  float-right">Agendar</button>
            <a href="{% url 'secretaria:lista' %}" class="btn btn-primary  float-left">Voltar</a>
        </div>
      </form>
    </div>
{% endblock %}