{% extends 'secretaria/base_secretaria.html' %}
{% block container %}
    <div class="container-fluid">
    <h5 class="mt-4">Listagem de tipos:</h5>
    <table class="table table-striped4 ">
        <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for tipo in tipos %}
            <tr>
                <td>{{ tipo.titulo }}</td>
                <td>
                   <form id="DeleteForm{{ tipo.id }}" action="{% url 'secretaria:excluir_tipo' tipo.id %}" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" onclick="DeleteModal({{ tipo.id }})">
                                Exluir
                            </button>
                    </form>
                </td>
                <td>{{ tipo.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
         <div class="text-right">
            <a href="{% url 'secretaria:add_tipo' %}" class="btn btn-success btn-sm">Adicionar novo tipo</a>
        </div>

    </table>
    <div class="pagination d-flex justify-content-center align-items-center">
            <span class="step-links">
                {% if tipos.has_previous %}
                    <a href="?page=1" class="btn btn-secondary">&laquo; primeiro</a>
                    <a href="?page={{ tipos.previous_page_number }}" class="btn btn-secondary">anterior</a>
                {% endif %}
                <span class="current">
                    Página {{ tipos.number }} de {{ tipos.paginator.num_pages }}.
                </span>
                {% if tipos.has_next %}
                    <a href="?page={{ tipos.next_page_number }}" class="btn btn-secondary">próximo</a>
                    <a href="?page={{ tipos.paginator.num_pages }}" class="btn btn-secondary">último &raquo;</a>
                {% endif %}
            </span>
      </div>
      <div class="text-left">
         <a href="{% url 'secretaria:pag_secretaria' %}" class="btn btn-primary btn-sm">Voltar</a>
      </div>
    </div>
{% endblock %}
