{% extends 'secretaria/base_secretaria.html' %}
{% block container %}
    <div class="container">
    <h5>Listagem de solicitações:</h5>
    <table class="table table-striped4">
        <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Data</th>
                <th scope="col">Hora de Início</th>
                <th scope="col">Hora de Término</th>
                <th scope="col">Laboratório</th>
                <th scope="col">Monitor</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for agendamento in agendamentos %}
            <tr>
                <td>{{ agendamento.titulo }}</td>
                <td>{{ agendamento.data|date:"d/m/Y" }}</td>
                <td>{{ agendamento.hora_inicio }}</td>
                <td>{{ agendamento.hora_fim }}</td>
                 <td>{{ agendamento.laboratorio }}</td>
                 <td>{{ agendamento.user.get_full_name }}</td>
                 <td>{{ agendamento.status }}</td>
                <td>
                    <div class="d-inline-block">
                        <form id="SolicitaForm" action="{% url 'secretaria:conf_solicitacao' agendamento.id %}" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#confirmSolicitaModal">
                                Agendar
                            </button>
                        </form>
                    </div>
                    <div class="d-inline-block ml-2">
                        <form id="NegarForm" action="{% url 'secretaria:negar_solicitacao' agendamento.id %}" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmNegarModal">
                                Negar
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
      <div class="text-left">
         <a href="{% url 'secretaria:pag_secretaria' %}" class="btn btn-primary btn-sm">Voltar</a>
      </div>
    </div>
{% endblock %}
