{% extends 'secretaria/base_secretaria.html' %}
{% block container %}
    <div class="container">
        <h5 class="mt-4">Listagem de laboratórios</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Qunatidade monitor</th>
                    <th scope="col">Quantidade notebook</th>
                    <th scope="col">Quantidade teclado</th>
                    <th scope="col">Quantidade mouse</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for lab in labs %}
                <tr>
                    <td>{{ lab.name }}</td>
                    <td>{{ lab.qt_monitor }}</td>
                    <td>{{ lab.qt_notebook }}</td>
                    <td>{{ lab.qt_teclado }}</td>
                    <td>{{ lab.qt_teclado }}</td>
                    <td>
                        <form id="DeleteForm{{ lab.id }}" action="{% url 'laboratorio:excluir_lab' lab.id %}" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" onclick="DeleteModal({{ lab.id }})">
                                Exluir
                            </button>
                            <a href=" {% url 'laboratorio:laboratorio_update' lab.pk %}" class="btn btn-primary btn-sm"> Editar</a>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <div class="container mt-3">
            <div class="row my-3">
                <div class="col-md-8">
                    <form method="POST" class="form-inline">
                        {% csrf_token %}
                        <div class="input-group"> <!-- Use uma classe input-group para agrupar o campo de entrada e o botão -->
                            <input type="text" name="query" placeholder="Pesquisar por nome" class="form-control mx-2" value="{{ query|default:'' }}">
                            <button type="submit" class="btn btn-primary">Pesquisar</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 text-md-right">
                    <a href="{% url 'laboratorio:laboratorio_create' %}" class="btn btn-success">Adicionar novo laboratório</a>
                </div>
            </div>
        </div>
        </table>
        <div class="pagination d-flex justify-content-center align-items-center">
            <span class="step-links">
                {% if labs.has_previous %}
                    <a href="?page=1" class="btn btn-secondary">&laquo; primeiro</a>
                    <a href="?page={{ labs.previous_page_number }}" class="btn btn-secondary">anterior</a>
                {% endif %}
                <span class="current">
                    Página {{ labs.number }} de {{ labs.paginator.num_pages }}.
                </span>
                {% if labs.has_next %}
                    <a href="?page={{ labs.next_page_number }}" class="btn btn-secondary">próximo</a>
                    <a href="?page={{ labs.paginator.num_pages }}" class="btn btn-secondary">último &raquo;</a>
                {% endif %}
            </span>
      </div>
        <div class="text-left">
         <a href="{% url 'secretaria:pag_secretaria' %}" class="btn btn-primary btn-sm">Voltar</a>
      </div>
    </div>
    <!-- Modal -->
    {% include 'partials/delete_modal.html' %}

{% endblock %}





