{% extends 'secretaria/base_secretaria.html' %}
{% block container %}
    <div class="container">
      <h5 class="mt-4">Atualizar laboratorio:</h5>
      <form action="." method="post">
          {% csrf_token %}
          <div class="form-group">
              <label for="id_name">Nome do Laboratório:</label>
              <small class="form-text  text-danger mt-0">Campo obrigatório.</small>
              <input type="text" class="form-control" id="id_name" name="name"  value="{{ form.instance.name }}" autofocus required>
            </div>
          <div class="form-group">
            <label for="id_qt_maquinas">Quantidade de máquinas:</label>
              <small class="form-text  text-danger mt-0">Campo obrigatório.</small>
            <input type="number" class="form-control" name="qt_maquinas" value="{{ form.instance.qt_maquinas }}" maxlength="150" required id="id_qt_maquinas" >
          </div>
           <div class="container">
            <button type="submit" class="btn btn-success float-right">Atualizar</button>
            <a href="{% url 'laboratorio:laboratorio_list' %}" class="btn btn-primary  float-left">Voltar</a>
        </div>
      </form>
    </div>
{% endblock %}





