{% extends 'secretaria/base_secretaria.html' %}
{% block container %}
    <div class="container">
      <h5 class="mt-4">Cadastro de Laboratório:</h5>
      <form method="post" action=".">
        {% csrf_token %}
            <div class="form-group">
              <label for="id_name">Nome do Laboratório:</label>
              <small class="form-text  text-danger mt-0">Campo obrigatório.</small>
              <input type="text" class="form-control" id="id_name" name="name" placeholder="Ex: Lab1" autofocus required>
            </div>
            <div class="form-group">
              <label for="id_qt_monitor">Quantidade monitor:</label>
              <input type="number" class="form-control" id="id_qt_monitor" name="qt_monitor" required>
            </div>
            <div class="form-group">
              <label for="id_qt_notebook">Quantidade notebook:</label>
              <input type="number" class="form-control" id="id_qt_notebook"  name="qt_notebook" required>
            </div>
            <div class="form-group">
              <label for="id_qt_teclado">Quantidade de teclado(s):</label>
              <input type="number" class="form-control" id="id_qt_teclado" name="qt_teclado" required>
            </div>

            <div class="form-group">
              <label for="id_qt_mouse">Quantidade de mouse:</label>
              <input type="number" class="form-control" id="id_qt_mouse" name="qt_mouse" required>
            </div>
            <div class="container">
                <button type="submit" class="btn btn-success float-right">Cadastrar</button>
                <a href="{% url 'laboratorio:laboratorio_list' %}" class="btn btn-primary  float-left">Voltar</a>
            </div>
          </form>
    </div>
{% endblock %}








