{% extends 'monitor/base_monitor.html' %}
{% block container %}
<div class="container">
    <h5 class="mt-4">Lista de solicitações:</h5>
    <table class="table table-striped4">
        <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Data</th>
                <th scope="col">Hora de Início</th>
                <th scope="col">Hora de Término</th>
                <th scope="col">Laboratório</th>
                <th scope="col">Tipo</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for agendamento in agendamentos %}
            <tr>
                <td>{{ agendamento.titulo }}</td>
                <td>{{ agendamento.data|date:"d/m/Y" }}</td>
                <td>{{ agendamento.hora_inicio }}</td>
                <td>{{ agendamento.hora_fim }}</td>
                 <td>{{ agendamento.laboratorio }}</td>
                 <td>{{ agendamento.tipo }}</td>
                 <td>{{ agendamento.status }}</td>
                <td>
                    <form id="DeleteForm{{ agendamento.id }}" action="{% url 'monitor:excluir_agendamento' agendamento.id %}" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" onclick="DeleteModal({{ agendamento.id }})">
                                Excluir
                            </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
         <div class="text-right">
            <a href="{% url 'monitor:agendar_monitor' %}" class="btn btn-success btn-sm">Adicionar novo agendamento</a>
        </div>

    </table>
      <div class="pagination d-flex justify-content-center align-items-center">
            <span class="step-links">
                {% if agendamentos.has_previous %}
                    <a href="?page=1" class="btn btn-secondary">&laquo; primeiro</a>
                    <a href="?page={{ agendamentos.previous_page_number }}" class="btn btn-secondary">anterior</a>
                {% endif %}
                <span class="current">
                    Página {{ agendamentos.number }} de {{ agendamentos.paginator.num_pages }}.
                </span>
                {% if agendamentos.has_next %}
                    <a href="?page={{ agendamentos.next_page_number }}" class="btn btn-secondary">próximo</a>
                    <a href="?page={{ agendamentos.paginator.num_pages }}" class="btn btn-secondary">último &raquo;</a>
                {% endif %}
            </span>
      </div>
      <div class="text-left">
         <a href="{% url 'monitor:pag_monitor' %}" class="btn btn-primary btn-sm">Voltar</a>
      </div>
</div>

{% endblock %}
