{% extends 'monitor/base_monitor.html' %}
{% block container %}
    <div class="container">
    <h5>Lista de solicitações:</h5>
    <table class="table table-striped4">
        <thead>
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Data</th>
                <th scope="col">Hora de Início</th>
                <th scope="col">Hora de Término</th>
                <th scope="col">Laboratório</th>
                <th scope="col">Tipo</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for agendamento in agendamentos %}
            <tr>
                <td>{{ agendamento.titulo }}</td>
                <td>{{ agendamento.data|date:"d/m/Y" }}</td>
                <td>{{ agendamento.hora_inicio }}</td>
                <td>{{ agendamento.hora_fim }}</td>
                 <td>{{ agendamento.laboratorio }}</td>
                 <td>{{ agendamento.tipo }}</td>
                 <td>{{ agendamento.status }}</td>
                <td>
                    <form id="deleteForm{{ agendamento.id }}" action="{% url 'monitor:excluir_agendamento' agendamento.id %}" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" onclick="deleteModal({{ agendamento.id }})">
                                Excluir
                            </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
         <div class="text-right">
            <a href="{% url 'monitor:agendar_monitor' %}" class="btn btn-success btn-sm">Adicionar novo agendamento</a>
        </div>

    </table>
      <div class="text-left">
         <a href="{% url 'monitor:pag_monitor' %}" class="btn btn-primary btn-sm">Voltar</a>
      </div>
    </div>
{% endblock %}
